user {
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}

.user:last-child {
  margin-bottom: 0;
}

.avatar {
  height: 200px;
  display:block;
  margin:auto;
}

.section {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 2px;
}

.description {
  flex: 1;
  margin-left: 18px;
  padding: 12px;
}

.username {
  margin: 0 12px 12px 0;
  padding: 0;
}

.excerpt {
  margin: 0;
}
